{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "semi": "error",
    "indent": ["error", "tab"],
    "space-before-blocks": "error",
    "space-before-function-paren": "error",
    "space-in-parens": "error",
    "space-infix-ops": "error",
    "comma-spacing": "error"
  },
  "env": {
    "browser": true,
    "webextensions":true,
    "es6": true,
    "jquery": true
  }
}
