{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "semi": "error",
    "indent": ["error", "tab"]
  },
  "env": {
    "browser": true,
    "webextensions":true
  }
}
