@font-face {
  font-family: "fontello";
  src: url("fontello.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: system-ui;
}

#toolbar {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #d0d0d0;
  overflow: hidden;
  height: 2rem;
  background-color: #f3f3f3;
  user-select: none;

  .group {
    display: inline-block;
    padding: 0 0.5rem 0 0;
    margin: 0.25rem 0 0.25rem 0;
    border-right: 1px solid #ccc;

    &.right {
      display: inline-block;
      float: right;
      border: none;

      .about span {
        display: block;
        width: 16px;
        height: 16px;
        background: #585858;
        border-radius: 8px;
        font-weight: bold;
        text-align: center;
        color: white;
        line-height: 16px;
        font-family: serif;
      }
    }

    &.last {
      border: none;
    }

    &:first-of-type {
      padding: 0 0.5rem;
    }
  }

  .toolbarButton {
    color: #5a5a5a;
    padding: 0;
    margin: 0 0.5rem 0 0;
    height: 1.5rem;
    border: none;
    background-color: #f3f3f3;
    text-align: left;

    &:before {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: 0.2em;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      margin-left: 0.2em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 133%;
      vertical-align: text-bottom;
    }

    /*.icon-target:before { content: '\e800'; }
    .icon-live:before { content: '\e801'; }
    .icon-atomic:before { content: '\e802';}
    .icon-time:before { content: '\e803'; }
    .icon-pause:before { content: '\e804'; }
    .icon-record:before { content: '\e805'; }
    .icon-clear:before { content: '\e807'; }
    .icon-framed:before { content: '\e808'; }
    .icon-unchecked:before { content: '\f096'; }
    .icon-relevant:before { content: '\f0fe'; }
    .icon-code:before { content: '\f121'; }
    .icon-checked:before { content: '\f14a';}
    .icon-busy:before { content: '\f250'; }
    .icon-info:before { content: '\e806'; }
    .icon-reset:before { content: '\e806'; }*/

    &.reset:before {
      content: "\e806";
    }

    &.check:before {
      content: "\f096";
      position: relative;
      top: 1px;
    }

    &.check.on:before {
      content: "\f14a";
      top: 0px;
    }
  }
}

#logs {
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2.1rem;
  bottom: 0;
  width: 100%;

  ul,
  ol {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: block;
      margin: 0;
      padding: 0;
    }
  }

  #regions {
    display: block;
    background-color: #f3f3f3;
    flex: 1 0;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
    max-width: 15rem;

    button.tab {
      border: none;
      background: none;
      margin: 0;
      padding: 1rem;
      width: 100%;
      box-sizing: border-box;
      text-align: left;
      color: #373737;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      em.id {
        font-style: normal;
        font-weight: normal;
        background-color: #007ee2;
        color: #fff;
        border-radius: 0.25em;
        padding: 0.1em 0.2em;
        line-height: 1em;
        font-size: 85%;
        margin-right: 0.5em;
      }

      &.all {
        padding: 1rem;
      }

      &.gone {
        em.id {
          background-color: #535353;
          color: #fff;
        }
      }

      &.active {
        background-color: #0079e5;
        color: #fff;
      }
    }
  }

  #events {
    display: block;
    background-color: #ffffff;
    box-shadow: 5px 9px 10px 0px rgba(0, 0, 0, 0.5);
    flex: 3 1;
    border-left: 1px solid #d0d0d0;
    overflow-x: hidden;
    overflow-y: auto;

    ol {
      margin: 0;
      box-sizing: border-box;

      li {
        padding: 1rem 1rem 0.5rem 1rem;
        border-bottom: 1px solid #e6e6e6;

        .meta {
          display: inline-block;
          padding: 0;
          margin: 0 0.5rem 0 0;
          font-size: 90%;
          color: #282828;
          text-transform: capitalize;
          strong {
            font-weight: 600;
          }
        }

        .time {
          font-size: 85%;
          color: rgba(0, 126, 226, 0.75);
          padding: 0.5rem 0 0 0;
        }

        .path {
          padding: 0.5rem 0;
          font-weight: 500;
          a {
            color: #007ee2;
            text-decoration: none;
          }
          em.id {
            font-style: normal;
            font-weight: normal;
            background-color: #007ee2;
            color: #fff;
            border-radius: 0.25em;
            padding: 0.1em 0.2em;
            line-height: 1em;
            font-size: 85%;
            margin-right: 0.5em;
          }
        }

        .content {
          border-left: 2px solid #007ee2;
          background-color: #fafafa;
          padding: 0.5rem;
          font-family: "Monaco", "Menlo", courier, monospace;
          font-weight: 400;
          font-size: 90%;
          pre {
            white-space: pre-wrap;
            font-family: "Monaco", "Menlo", courier, monospace;
            font-weight: 400;
            font-size: 100%;
            margin: 0;
            .close {
              margin-right: 0.25rem;
            }
          }
          &.html {
            border-left: 2px solid #e28800;
          }
        }
        &.removal {
          background-color: #fff2f2;
          font-size: 90%;
        }
        &.new {
          background-color: #f2fdff;
          font-size: 90%;
        }
        &.url {
          background-color: #fffdf2;
          font-size: 90%;
        }
      }
    }
  }
}

body.dark {
  #toolbar {
    background-color: #242424;
    border-bottom-color: #525252;

    button.toolbarButton {
      color: #dedede;
      background-color: #242424;

      &:hover,
      &:focus {
        color: #e6e6e6;
      }
    }
  }

  #regions {
    background-color: #333333 !important;

    button.tab {
      color: #cdcdcd !important;

      em.id {
        background-color: #cdcdcd !important;
        color: #333333 !important;
      }

      &.gone {
        color: #9a9a9a !important;
      }

      &.active {
        background-color: #00659a !important;
        color: #fff !important;
      }
    }
  }

  #events {
    background-color: #242424 !important;
    border-left-color: #525252 !important;
    color: #cdcdcd;

    ol {
      li {
        border-bottom: 1px solid #414141 !important;
        .meta {
          color: #cdcdcd !important;
        }

        .time {
          color: rgba(138, 204, 247, 0.75) !important;
        }

        .path {
          a {
            color: #8accf7 !important;
          }
          em.id {
            background-color: #8accf7 !important;
            color: #242424 !important;
          }
        }

        .content {
          border-left: 2px solid #8accf7 !important;
          background-color: #2d2d2d !important;
        }
      }
    }
  }
}
