@font-face {
  font-family: 'fontello';
  src: url('fontello.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font: 400 13px system-ui;
}
#toolbar {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #d0d0d0;
  overflow: hidden;
  height: 2rem;
  background-color: #f3f3f3;
  user-select: none;
}
#toolbar .group {
  display: inline-block;
  padding: 0 0.5rem 0 0;
  margin: 0.25rem 0 0.25rem 0;
  border-right: 1px solid #ccc;
}
#toolbar .group.right {
  display: inline-block;
  float: right;
  border: none;
}
#toolbar .group.right .about span {
  display: block;
  width: 16px;
  height: 16px;
  background: #585858;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  color: white;
  line-height: 16px;
  font-family: serif;
}
#toolbar .group.last {
  border: none;
}
#toolbar .group:first-of-type {
  padding: 0 0.5rem;
}
#toolbar .toolbarButton {
  color: #5a5a5a;
  padding: 0;
  margin: 0 0.5rem 0 0;
  height: 1.5rem;
  border: none;
  background-color: #f3f3f3;
  text-align: left;
}
#toolbar .toolbarButton:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 133%;
  vertical-align: text-bottom;
}
#toolbar .toolbarButton.clear::before {
  content: '\e807';
}
#toolbar .toolbarButton.record,
#toolbar .toolbarButton.pause {
  width: 4.25rem;
}
#toolbar .toolbarButton.record:before {
  content: '\e805';
}
#toolbar .toolbarButton.pause:before {
  content: '\e804';
}
#toolbar .toolbarButton.check:before {
  content: '\f096';
  position: relative;
  top: 1px;
}
#toolbar .toolbarButton.check.on:before {
  content: '\f14a';
  top: 0px;
}
#logs {
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2.1rem;
  bottom: 0;
  width: 100%;
}
#logs ul,
#logs ol {
  margin: 0;
  padding: 0;
}
#logs ul li,
#logs ol li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
#logs #regions {
  display: block;
  background-color: #f3f3f3;
  flex: 1 0;
  overflow-x: hidden;
  overflow-y: auto;
  user-select: none;
  max-width: 15rem;
}
#logs #regions button.tab {
  border: none;
  background: none;
  margin: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  color: #373737;
}
#logs #regions button.tab.all {
  padding: 1rem;
}
#logs #regions button.tab.gone {
  color: #6f6f6f;
}
#logs #regions button.tab.active {
  background-color: #0079e5;
  color: #fff;
}
#logs #events {
  display: block;
  background-color: #ffffff;
  box-shadow: 5px 9px 10px 0px rgba(0, 0, 0, 0.5);
  flex: 3 1;
  border-left: 1px solid #d0d0d0;
  overflow-x: hidden;
  overflow-y: auto;
}
#logs #events ol {
  margin: 1rem;
  box-sizing: border-box;
}
body.dark #toolbar {
  background-color: #242424;
  border-bottom-color: #525252;
}
body.dark #toolbar button.toolbarButton {
  color: #dedede;
  background-color: #242424;
}
body.dark #toolbar button.toolbarButton:hover,
body.dark #toolbar button.toolbarButton:focus {
  color: #e6e6e6;
}
body.dark #regions {
  background-color: #333333 !important;
}
body.dark #regions button.tab {
  color: #cdcdcd !important;
}
body.dark #regions button.tab.gone {
  color: #9a9a9a !important;
}
body.dark #regions button.tab.active {
  background-color: #00659a !important;
  color: #fff !important;
}
body.dark #events {
  background-color: #242424 !important;
  border-left-color: #525252 !important;
}
