@font-face {
  font-family: 'fontello';
  src: url('fontello.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font: 400 13px system-ui;
}

#toolbar {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #d0d0d0;
  overflow: hidden;
  height: 2rem;
  background-color: #f3f3f3;
  user-select: none;

  .group {
    display: inline-block;
    padding: 0 0.5rem 0 0;
    margin: 0.25rem 0 0.25rem 0;
    border-right: 1px solid #ccc;

    &.right {
      display: inline-block;
      float: right;
      border: none;

      .about span {
        display: block;
        width: 16px;
        height: 16px;
        background: #585858;
        border-radius: 8px;
        font-weight: bold;
        text-align: center;
        color: white;
        line-height: 16px;
        font-family: serif;
      }
    }

    &.last {
      border: none;
    }

    &:first-of-type {
      padding: 0 0.5rem;
    }
  }

  .toolbarButton {
    color: #5a5a5a;
    padding: 0;
    margin: 0 0.5rem 0 0;
    height: 1.5rem;
    border: none;
    background-color: #f3f3f3;
    text-align: left;

    &:before {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      margin-left: .2em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 133%;
      vertical-align: text-bottom;
    }

    /*.icon-target:before { content: '\e800'; }
    .icon-live:before { content: '\e801'; }
    .icon-atomic:before { content: '\e802';}
    .icon-time:before { content: '\e803'; }
    .icon-pause:before { content: '\e804'; }
    .icon-record:before { content: '\e805'; }
    .icon-clear:before { content: '\e807'; }
    .icon-framed:before { content: '\e808'; }
    .icon-unchecked:before { content: '\f096'; }
    .icon-relevant:before { content: '\f0fe'; }
    .icon-code:before { content: '\f121'; }
    .icon-checked:before { content: '\f14a';}
    .icon-busy:before { content: '\f250'; }
    .icon-info:before { content: '\e806'; }*/

    &.clear::before {
      content: '\e807';
    }

    &.record, &.pause {
      width: 4.25rem;
    }

    &.record:before {
      content: '\e805';
    }

    &.pause:before {
      content: '\e804';
    }

    &.check:before {
      content: '\f096';
      position: relative;
      top: 1px;
    }

    &.check.on:before {
      content: '\f14a';
      top: 0px;
    }
  }
}

#logs {
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2.1rem;
  bottom: 0;
  width: 100%;

  ul, ol {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: block;
      margin: 0;
      padding: 0;
    }
  }

  #regions {
    display: block;
    background-color: #f3f3f3;
    flex: 1 0;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
    max-width: 15rem;

    button.tab {
      border: none;
      background: none;
      margin: 0;
      padding: 0.5rem 1rem;
      width: 100%;
      box-sizing: border-box;
      text-align: left;
      color: #373737;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &.all {
        padding: 1rem;
      }

      &.gone {
        color: #6f6f6f;
      }

      &.active {
        background-color: #0079e5;
        color: #fff;
      }
    }
  }

  #events {
    display: block;
    background-color: #ffffff;
    box-shadow: 5px 9px 10px 0px rgba(0, 0, 0, 0.5);
    flex: 3 1;
    border-left: 1px solid #d0d0d0;
    overflow-x: hidden;
    overflow-y: auto;

    ol {
      margin: 0;
      box-sizing: border-box;

      li {
        padding: 1rem;
        border-bottom: 1px solid #e6e6e6;

        .tag {
          display: inline-block;
          padding: 0;
          margin: 0 0.33rem 0 0;
          font-size: 90%;
          color: #2229ab;

          strong{
            color: #9b4804;
            font-weight: 500;
          }
        }

        .time {
          color: #6a6a6a;
        }

        .path {
          padding: 0.5rem 0;
          color: #881280;
          font-weight: 500;
          .icon:before {
            content: '\e800';
          }
        }

        .content {
          padding: 0.5rem;
          background-color: #f3f3f3;
          border-radius: 0.25rem;
        }

        .icon:before {
          color: #727272;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          font-family: "fontello";
          font-size: 100%;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          line-height: 1em;
          margin-left: 0;
          margin-right: 0;
          speak: none;
          text-align: center;
          text-decoration: inherit;
          text-transform: none;
          vertical-align: text-bottom;
        }
      }
    }
  }
}

body.dark {
  #toolbar {
    background-color: #242424;
    border-bottom-color: #525252;

    button.toolbarButton {
      color: #dedede;
      background-color: #242424;

      &:hover, &:focus {
        color: #e6e6e6;
      }
    }
  }

  #regions {
    background-color: #333333 !important;

    button.tab {
      color: #cdcdcd !important;

      &.gone {
        color: #9a9a9a !important;
      }

      &.active {
        background-color: #00659a !important;
        color: #fff !important;
      }
    }
  }

  #events {
    background-color: #242424 !important;
    border-left-color: #525252 !important;
    color: #cdcdcd;

    ol {
      li {
        border-bottom: 1px solid #414141 !important;

        .content {
          background-color: #2d2d2d !important;
        }
      }
    }
  }
}
